body {
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    text-transform: lowercase;
    font-size: 12vw;
    text-align: justify;
}

a {
    color: white;
    text-decoration: underline;
}
